[submodule "contact-list"]
    path = contact-list
    url = git@github.com:eddowh/react-contact-list.git

[submodule "github-profile-viewer"]
    path = github-profile-viewer
    url = git@github.com:eddowh/react-github-profile-viewer.git

[submodule "infofinder-search-engine"]
    path = infofinder-search-engine
    url = git@github.com:eddowh/react-infofinder-search-engine.git

[submodule "moviefind"]
    path = moviefind
    url = git@github.com:eddowh/react-moviefind.git

[submodule "quick-quiz-app"]
    path = quick-quiz-app
    url = git@github.com:eddowh/react-quick-quiz-app.git

[submodule "stickypad-notes"]
    path = stickypad-notes
    url = git@github.com:eddowh/react-stickypad-notes.git

[submodule "youtube-gallery"]
    path = youtube-gallery
    url = git@github.com:eddowh/react-youtube-gallery.git

[submodule "sockchat"]
    path = sockchat
    url = git@github.com:eddowh/react-sockchat.git
